<section class="conditions">
    <div class="container">
        <h1 class="conditions__title title _anim-items">
            Условия размещения
        </h1>

        <div class="conditions__content">
            <div class="conditions__heading">
                <h2 class="conditions__subtitle">
                    В стоимость проживания включено
                </h2>
            </div>
            <div class="conditions__list">
                <ul class="conditions__row">
                    <li class="conditions__item">
                        наполнитель на выбор
                    </li>
                    <li class="conditions__item">
                        ежедневные игры и внимание
                    </li>
                    <li class="conditions__item">
                        ежедневный фото/видеоотчет
                    </li>
                    <li class="conditions__item">
                        лоток
                    </li>
                    <li class="conditions__item">
                        мисочки для корма и воды
                    </li>
                </ul>
            </div>
        </div>

        <div class="conditions__content">
            <div class="conditions__heading">
                <h2 class="conditions__subtitle">
                    Рекомендации
                </h2>
                <p class="conditions__text">
                    Чтобы ускорить период адаптации котика к новым условиям возьмите с собой
                </p>
            </div>
            <div class="conditions__list">
                <ul class="conditions__row">
                    <li class="conditions__item">
                        лежанку
                    </li>
                    <li class="conditions__item">
                        любимую игрушку
                    </li>
                    <li class="conditions__item">
                        вещь с Вашим запахом
                    </li>
                    <li class="conditions__item">
                        немного наполнителя с его запахом
                    </li>
                </ul>
            </div>
        </div>

        <div class="conditions__content">
            <div class="conditions__heading">
                <h2 class="conditions__subtitle">
                    Питание
                </h2>
            </div>
            <div class="conditions__list conditions__list_text">
                <p>Корм необходимо принести с собой из расчета периода нахождения котика в нашей гостинице, согласно
                    индивидуальному плану кормления.
                </p>
                <p> В случае, если корм закончится, по согласованию с Вами, мы купим корм. При выселении необходимо
                    будет доплатить, согласно чеку за покупку.
                </p>
            </div>
        </div>

        <div class="conditions__content conditions__content_reverse">
            <div class="conditions__heading">
                <h2 class="conditions__subtitle conditions__subtitle_accend">
                    Важно!
                </h2>
                <div class="conditions__list">
                    <ul class="conditions__row">
                        <li class="conditions__item">
                            Мы ежедневно наблюдаем за поведением и самочувствием Вашего котика!
                        </li>
                        <li class="conditions__item">
                            В случае любого отклонения от нормы, мы свяжемся с Вами!
                        </li>
                        <li class="conditions__item">
                            При необходимости и с Вашего согласия обратимся в ветеринарную клинику.
                        </li>
                        <li class="conditions__item">
                            При выселении необходимо будет доплатить за понесенные расходы, согласно чеку на оказание
                            услуг.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="conditions__image">
                <img class="conditions__img" src="images/decor/cat-condition.png" alt="котик" width="510"
                    height="360">
            </div>
        </div>

    </div>
</section>