<div class="concerns">
    <div class="container">
        <h2 class="concerns__title title _anim-items">
            Страхи котовладельца
        </h2>

        <span class="concerns__note">Нажмите, чтобы посмотреть</span>

        <div class="concerns__content">
            <button class="concerns__button open">
                <span class="concerns__icon"></span>
            </button>
            <h3 class="concerns__subtitle" data-name="concerns__subtitle">
                Вдруг моя кошка почувствует себя плохо, а я на другом конце света и не могу ничего предпринять?
            </h3>
            <div class="concerns__text hidden">
                <p>
                    При малейшем отклонении от нормы поведения или состояния кошки, мы незамедлительно сообщим Вам. С
                    Вашего согласия мы обратимся в ветеринарную клинику и сообщим о результатах осмотра и принятых
                    ветеринаром решений (при необходимости Вы сможете лично переговорить с врачом).
                </p>
                <p> Если кошечке понадобится лечение, мы осуществим все необходимые действия. При выезде мы предоставим
                    все документы и чеки на оплату услуг ветклиники.
                </p>
            </div>
        </div>

        <div class="concerns__content">
            <button class="concerns__button open">
                <span class="concerns__icon"></span>
            </button>
            <h3 class="concerns__subtitle" data-name="concerns__subtitle">
                Мою кошку посадят в номер и забудут о ней!
            </h3>
            <div class="concerns__text hidden">
                <p>
                    При малейшем отклонении от нормы поведения или состояния кошки, мы незамедлительно сообщим Вам. С
                    Вашего согласия мы обратимся в ветеринарную клинику и сообщим о результатах осмотра и принятых
                    ветеринаром решений (при необходимости Вы сможете лично переговорить с врачом).
                </p>
                <p> Если кошечке понадобится лечение, мы осуществим все необходимые действия. При выезде мы предоставим
                    все документы и чеки на оплату услуг ветклиники.
                </p>
            </div>
        </div>

        <div class="concerns__content">
            <button class="concerns__button open">
                <span class="concerns__icon"></span>
            </button>
            <h3 class="concerns__subtitle" data-name="concerns__subtitle">
                Мой котик боится замкнутых пространств!
            </h3>
            <div class="concerns__text hidden">
                <p>
                    При малейшем отклонении от нормы поведения или состояния кошки, мы незамедлительно сообщим Вам. С
                    Вашего согласия мы обратимся в ветеринарную клинику и сообщим о результатах осмотра и принятых
                    ветеринаром решений (при необходимости Вы сможете лично переговорить с врачом).
                </p>
                <p> Если кошечке понадобится лечение, мы осуществим все необходимые действия. При выезде мы предоставим
                    все документы и чеки на оплату услуг ветклиники.
                </p>
            </div>
        </div>

        <div class="concerns__content">
            <button class="concerns__button open">
                <span class="concerns__icon"></span>
            </button>
            <h3 class="concerns__subtitle" data-name="concerns__subtitle">
                Боюсь реакции на присутствие незнакомых котику людей!
            </h3>
            <div class="concerns__text hidden">
                <p>
                    При малейшем отклонении от нормы поведения или состояния кошки, мы незамедлительно сообщим Вам. С
                    Вашего согласия мы обратимся в ветеринарную клинику и сообщим о результатах осмотра и принятых
                    ветеринаром решений (при необходимости Вы сможете лично переговорить с врачом).
                </p>
                <p> Если кошечке понадобится лечение, мы осуществим все необходимые действия. При выезде мы предоставим
                    все документы и чеки на оплату услуг ветклиники.
                </p>
            </div>
        </div>

    </div>
</div>