<section class="gallery">
    <div class="container">
        <h2 class="gallery__title title _anim-items">
            Фотогалерея
        </h2>
        
            <div class="gallery__slider swiper">
                <ul class="gallery__slider-content swiper-wrapper">
                    <li class="gallery__slider-item swiper-slide">
                        <img class="gallery__slider-img" src="images/slider/img4.jpg" alt="комната для вашего любимца" width="480" height="532">
                    </li>
                    <li class="gallery__slider-item swiper-slide">
                        <img class="gallery__slider-img" src="images/slider/img5.jpg" alt="комната для вашего любимца" width="480" height="532">
                    </li>
                    <li class="gallery__slider-item swiper-slide">
                        <img class="gallery__slider-img" src="images/slider/img6.jpg" alt="комната для вашего любимца" width="480" height="532">
                    </li>
                    <li class="gallery__slider-item swiper-slide">
                        <img class="gallery__slider-img" src="images/slider/img4.jpg" alt="комната для вашего любимца" width="480" height="532">
                    </li>
                    <li class="gallery__slider-item swiper-slide">
                        <img class="gallery__slider-img" src="images/slider/img5.jpg" alt="комната для вашего любимца" width="480" height="532">
                    </li>
                    <li class="gallery__slider-item swiper-slide">
                        <img class="gallery__slider-img" src="images/slider/img6.jpg" alt="комната для вашего любимца" width="480" height="532">
                    </li>
                    <li class="gallery__slider-item swiper-slide">
                        <img class="gallery__slider-img" src="images/slider/img4.jpg" alt="комната для вашего любимца" width="480" height="532">
                    </li>
                    <li class="gallery__slider-item swiper-slide">
                        <img class="gallery__slider-img" src="images/slider/img5.jpg" alt="комната для вашего любимца" width="480" height="532">
                    </li>
                    <li class="gallery__slider-item swiper-slide">
                        <img class="gallery__slider-img" src="images/slider/img6.jpg" alt="комната для вашего любимца" width="480" height="532">
                    </li>
                    <li class="gallery__slider-item swiper-slide">
                        <img class="gallery__slider-img" src="images/slider/img4.jpg" alt="комната для вашего любимца" width="480" height="532">
                    </li>
                    <li class="gallery__slider-item swiper-slide">
                        <img class="gallery__slider-img" src="images/slider/img5.jpg" alt="комната для вашего любимца" width="480" height="532">
                    </li>
                </ul>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>

            
        
    </div>
</section>