<section class="numbers" id="numbers">
    <div class="container">
        <div class="numbers__top">
            <h2 class="numbers__title title _anim-items">
                Номера и цены
            </h2>
            <div class="numbers__discaunt">
                <img class="numbers__discaunt-image" src="images/decor/discaunt-bage.png" alt="скидка" width="283"
                    height="206">
                <span class="numbers__discaunt-text">Скидка 20% до конца ноября!</span>
            </div>
        </div>

        <div class="numbers__content">
            <div class="numbers__slider slider">
                <div class="slider__inner swiper">
                    <ul class="slider__content swiper-wrapper">
                        <li class="slider__item swiper-slide">
                            <img class="slider__img" src="images/slider/img1.jpg" alt="комната для вашего любимца"
                                width="380" height="500">
                        </li>
                        <li class="slider__item swiper-slide">
                            <img class="slider__img" src="images/slider/img1.jpg" alt="комната для вашего любимца"
                                width="380" height="500">
                        </li>
                        <li class="slider__item swiper-slide">
                            <img class="slider__img" src="images/slider/img1.jpg" alt="комната для вашего любимца"
                                width="380" height="500">
                        </li>
                    </ul>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>

                <div class="slider__text numbers-info">
                    <div class="numbers-info__content">
                        <h3 class="numbers-info__title">
                            Номер <span>"стандарт"</span>
                        </h3>                        
                            <span class="numbers-info__price">
                                700 руб./сутки
                            </span>                       
                    </div>
                    <div class="numbers-info__content">
                        <span class="numbers-info__house">
                            Размер номера
                        </span>                        
                            <span class="numbers-info__footage">
                                1500*1500*2100 см
                            </span>                        
                    </div>
                    <div class="numbers-info__content">
                        <span class="numbers-info__house">
                            Размер домиков
                        </span>                        
                            <span class="numbers-info__footage">32*32см</span>
                            <span class="numbers-info__footage">38*32см</span>                      
                    </div>
                    <button class="numbers-info__button button" type="button">
                        Забронировать
                    </button>

                    <div class="booking__submit card-book hidden">
                        <button class="card-book__close">
                            <svg class="card-book__icon">
                                <use xlink:href="images/sprite.svg#plus"></use>
                            </svg>
                        </button>
                        <form class="booking__form" action="#">
                            <div class="booking__inputs">
                                <input class="booking__input" type="text" id="bookName1" name="nameNumOne" placeholder="Имя" required>                                
                            </div>
                            <div class="booking__inputs">
                                <input class="booking__input" type="text" id="bookPhone1" name="phoneNumOne" data-name='validate-phone'
                                    placeholder="Телефон" required>
                            </div>
                            <textarea class="booking__input booking__input_textarea" name="comments" id="comments2"
                                placeholder="Примечание"></textarea>
                            <div class="card-book__btn">
                                <button class="booking__button button" type="submit">Забронировать</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

            <div class="numbers__slider slider">
                <div class="slider__inner swiper">
                    <ul class="slider__content swiper-wrapper">
                        <li class="slider__item swiper-slide">
                            <img class="slider__img" src="images/slider/img2.jpg" alt="комната для вашего любимца"
                                width="380" height="500">
                        </li>
                        <li class="slider__item swiper-slide">
                            <img class="slider__img" src="images/slider/img2.jpg" alt="комната для вашего любимца"
                                width="380" height="500">
                        </li>
                        <li class="slider__item swiper-slide">
                            <img class="slider__img" src="images/slider/img2.jpg" alt="комната для вашего любимца"
                                width="380" height="500">
                        </li>
                    </ul>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>

                <div class="slider__text numbers-info">
                    <div class="numbers-info__content">
                        <h3 class="numbers-info__title">
                            Номер <span>"стандарт"</span>
                        </h3>
                        <span class="numbers-info__price">
                            700 руб./сутки
                        </span>
                    </div>
                    <div class="numbers-info__content">
                        <span class="numbers-info__house">
                            Размер номера
                        </span>
                        <span class="numbers-info__footage">
                            1500*1500*2100 см
                        </span>
                    </div>
                    <div class="numbers-info__content">
                        <span class="numbers-info__house">
                            Размер домиков
                        </span>
                        <span class="numbers-info__footage">32*32см</span>
                        <span class="numbers-info__footage">38*32см</span>
                    </div>
                    <button class="numbers-info__button button" type="button">
                        Забронировать
                    </button>

                    <div class="booking__submit card-book hidden">
                        <button class="card-book__close">
                            <svg class="card-book__icon">
                                <use xlink:href="images/sprite.svg#plus"></use>
                            </svg>
                        </button>
                        <form class="booking__form" action="#">
                            <div class="booking__inputs">
                                <input class="booking__input" type="text" id="bookName2" name="nameNumTwo" placeholder="Имя"
                                    required>
                            </div>
                            <div class="booking__inputs">
                                <input class="booking__input" type="text" id="bookPhone2" name="phoneNumTwo" data-name='validate-phone'
                                    placeholder="Телефон" required>
                            </div>
                            <textarea class="booking__input booking__input_textarea" name="comments" id="comments2"
                                placeholder="Примечание"></textarea>
                            <div class="card-book__btn">
                                <button class="booking__button button" type="submit">Забронировать</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

            <div class="numbers__slider slider">
                <div class="slider__inner swiper">
                    <ul class="slider__content swiper-wrapper">
                        <li class="slider__item swiper-slide">
                            <img class="slider__img" src="images/slider/img3.jpg" alt="комната для вашего любимца"
                                width="380" height="500">
                        </li>
                        <li class="slider__item swiper-slide">
                            <img class="slider__img" src="images/slider/img3.jpg" alt="комната для вашего любимца"
                                width="380" height="500">
                        </li>
                        <li class="slider__item swiper-slide">
                            <img class="slider__img" src="images/slider/img3.jpg" alt="комната для вашего любимца"
                                width="380" height="500">
                        </li>
                    </ul>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>

                <div class="slider__text numbers-info">
                    <div class="numbers-info__content">
                        <h3 class="numbers-info__title">
                            Номер <span>"стандарт"</span>
                        </h3>
                        <span class="numbers-info__price">
                            700 руб./сутки
                        </span>
                    </div>
                    <div class="numbers-info__content">
                        <span class="numbers-info__house">
                            Размер номера
                        </span>
                        <span class="numbers-info__footage">
                            1500*1500*2100 см
                        </span>
                    </div>
                    <div class="numbers-info__content">
                        <span class="numbers-info__house">
                            Размер домиков
                        </span>
                        <span class="numbers-info__footage">32*32см</span>
                        <span class="numbers-info__footage">38*32см</span>
                    </div>
                    <button class="numbers-info__button button" type="button">
                        Забронировать
                    </button>

                    <div class="booking__submit card-book hidden">
                        <button class="card-book__close">
                            <svg class="card-book__icon">
                                <use xlink:href="images/sprite.svg#plus"></use>
                            </svg>
                        </button>
                        <form class="booking__form" action="#">
                            <div class="booking__inputs">
                                <input class="booking__input" type="text" id="bookName3" name="nameNumThree" placeholder="Имя"
                                    required>
                            </div>
                            <div class="booking__inputs">
                                <input class="booking__input" type="text" id="bookPhone3" name="phoneNumThree" data-name='validate-phone'
                                    placeholder="Телефон" required>
                            </div>
                            <textarea class="booking__input booking__input_textarea" name="comments" id="comments3"
                                placeholder="Примечание"></textarea>
                            <div class="card-book__btn">
                                <button class="booking__button button" type="submit">Забронировать</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>

    </div>
</section>