<section class="video" id="videoBlock">
    <div class="container">
        <div class="video__top">
            <h2 class="video__title title _anim-items">
                Видеонаблюдение
            </h2>
            <div class="video__text">
                <p>Чтобы увидеть вашего кота или кошку нужно войти под логином и паролем, которые вам выдали при
                    заселении</p>
            </div>
        </div>
        <div class="video__numbers rooms">
            <div class="rooms__text">
                <p>Выберите номер комнаты вашего котика и посмотрите, чем он сейчас занят</p>
            </div>
            <ul class="rooms__list">
                <li class="rooms__item">

                    <a class="rooms__link" data-module="action-modal-video" href="#">
                        <svg class="rooms__icon">
                            <use xlink:href="images/sprite.svg#pow"></use>
                        </svg>
                    </a>
                    <div class="rooms__video" data-module="modal-video" data-module-action="close-modal-video">
                        <div class="rooms__video-modal">                           
                            <button class="rooms__video-btn" data-module-action="close-modal-video">
                                <svg class="rooms__video-icon">
                                    <use xlink:href="images/sprite.svg#plus"></use>
                                </svg>
                            </button>
                            <video class="rooms__video-window" src="https://www.youtube.com/watch?v=OGb2Hkeu2BI" width="500" height="400" controls="controls" poster="images/slider/img1.jpg"></video>                                                      
                        </div>
                    </div>

                </li>

                <li class="rooms__item">
                    
                    <a class="rooms__link" data-module="action-modal-video" href="#">
                        <svg class="rooms__icon">
                            <use xlink:href="images/sprite.svg#pow"></use>
                        </svg>
                    </a>
                    <div class="rooms__video" data-module="modal-video" data-module-action="close-modal-video">
                        <div class="rooms__video-modal">                           
                            <button class="rooms__video-btn" data-module-action="close-modal-video">
                                <svg class="rooms__video-icon">
                                    <use xlink:href="images/sprite.svg#plus"></use>
                                </svg>
                            </button>
                            <video class="rooms__video-window" src="https://www.youtube.com/watch?v=OGb2Hkeu2BI" width="500" height="400" controls="controls" poster="images/slider/img2.jpg"></video>                                                      
                        </div>
                    </div>

                </li>
                <li class="rooms__item">

                     <a class="rooms__link" data-module="action-modal-video" href="#">
                        <svg class="rooms__icon">
                            <use xlink:href="images/sprite.svg#pow"></use>
                        </svg>
                    </a>
                    <div class="rooms__video" data-module="modal-video" data-module-action="close-modal-video">
                        <div class="rooms__video-modal">                           
                            <button class="rooms__video-btn" data-module-action="close-modal-video">
                                <svg class="rooms__video-icon">
                                    <use xlink:href="images/sprite.svg#plus"></use>
                                </svg>
                            </button>
                            <video class="rooms__video-window" src="https://www.youtube.com/watch?v=OGb2Hkeu2BI" width="500" height="400" controls="controls" poster="images/slider/img2.jpg"></video>                                                      
                        </div>
                    </div>

                </li>
                <li class="rooms__item">
                     <a class="rooms__link" data-module="action-modal-video" href="#">
                        <svg class="rooms__icon">
                            <use xlink:href="images/sprite.svg#pow"></use>
                        </svg>
                    </a>
                    <div class="rooms__video" data-module="modal-video" data-module-action="close-modal-video">
                        <div class="rooms__video-modal">                           
                            <button class="rooms__video-btn" data-module-action="close-modal-video">
                                <svg class="rooms__video-icon">
                                    <use xlink:href="images/sprite.svg#plus"></use>
                                </svg>
                            </button>
                            <video class="rooms__video-window" src="https://www.youtube.com/watch?v=OGb2Hkeu2BI" width="500" height="400" controls="controls" poster="images/slider/img2.jpg"></video>                                                      
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <ul class="rooms__list rooms__list_bottom">
            <li class="rooms__item">
                <a class="rooms__link" data-module="action-modal-video" href="#">
                    <svg class="rooms__icon">
                        <use xlink:href="images/sprite.svg#pow"></use>
                    </svg>
                </a>
                <div class="rooms__video" data-module="modal-video" data-module-action="close-modal-video">
                    <div class="rooms__video-modal">                           
                        <button class="rooms__video-btn" data-module-action="close-modal-video">
                            <svg class="rooms__video-icon">
                                <use xlink:href="images/sprite.svg#plus"></use>
                            </svg>
                        </button>
                        <video class="rooms__video-window" src="https://www.youtube.com/watch?v=OGb2Hkeu2BI" width="500" height="400" controls="controls" poster="images/slider/img2.jpg"></video>                                                      
                    </div>
                </div>
            </li>
            <li class="rooms__item">
                <a class="rooms__link" data-module="action-modal-video" href="#">
                    <svg class="rooms__icon">
                        <use xlink:href="images/sprite.svg#pow"></use>
                    </svg>
                </a>
                <div class="rooms__video" data-module="modal-video" data-module-action="close-modal-video">
                    <div class="rooms__video-modal">                           
                        <button class="rooms__video-btn" data-module-action="close-modal-video">
                            <svg class="rooms__video-icon">
                                <use xlink:href="images/sprite.svg#plus"></use>
                            </svg>
                        </button>
                        <video class="rooms__video-window" src="https://www.youtube.com/watch?v=OGb2Hkeu2BI" width="500" height="400" controls="controls" poster="images/slider/img2.jpg"></video>                                                      
                    </div>
                </div>
            </li>
            <li class="rooms__item">
                <a class="rooms__link" data-module="action-modal-video" href="#">
                    <svg class="rooms__icon">
                        <use xlink:href="images/sprite.svg#pow"></use>
                    </svg>
                </a>
                <div class="rooms__video" data-module="modal-video" data-module-action="close-modal-video">
                    <div class="rooms__video-modal">                           
                        <button class="rooms__video-btn" data-module-action="close-modal-video">
                            <svg class="rooms__video-icon">
                                <use xlink:href="images/sprite.svg#plus"></use>
                            </svg>
                        </button>
                        <video class="rooms__video-window" src="https://www.youtube.com/watch?v=OGb2Hkeu2BI" width="500" height="400" controls="controls" poster="images/slider/img2.jpg"></video>                                                      
                    </div>
                </div>
            </li>
            <li class="rooms__item">
                <a class="rooms__link" data-module="action-modal-video" href="#">
                    <svg class="rooms__icon">
                        <use xlink:href="images/sprite.svg#pow"></use>
                    </svg>
                </a>
                <div class="rooms__video" data-module="modal-video" data-module-action="close-modal-video">
                    <div class="rooms__video-modal">                           
                        <button class="rooms__video-btn" data-module-action="close-modal-video">
                            <svg class="rooms__video-icon">
                                <use xlink:href="images/sprite.svg#plus"></use>
                            </svg>
                        </button>
                        <video class="rooms__video-window" src="https://www.youtube.com/watch?v=OGb2Hkeu2BI" width="500" height="400" controls="controls" poster="images/slider/img2.jpg"></video>                                                      
                    </div>
                </div>
            </li>
            <li class="rooms__item">
                <a class="rooms__link" data-module="action-modal-video" href="#">
                    <svg class="rooms__icon">
                        <use xlink:href="images/sprite.svg#pow"></use>
                    </svg>
                </a>
                <div class="rooms__video" data-module="modal-video" data-module-action="close-modal-video">
                    <div class="rooms__video-modal">                           
                        <button class="rooms__video-btn" data-module-action="close-modal-video">
                            <svg class="rooms__video-icon">
                                <use xlink:href="images/sprite.svg#plus"></use>
                            </svg>
                        </button>
                        <video class="rooms__video-window" src="https://www.youtube.com/watch?v=OGb2Hkeu2BI" width="500" height="400" controls="controls" poster="images/slider/img2.jpg"></video>                                                      
                    </div>
                </div>
            </li>
            <li class="rooms__item">
                <a class="rooms__link" data-module="action-modal-video" href="#">
                    <svg class="rooms__icon">
                        <use xlink:href="images/sprite.svg#pow"></use>
                    </svg>
                </a>
                <div class="rooms__video" data-module="modal-video" data-module-action="close-modal-video">
                    <div class="rooms__video-modal">                           
                        <button class="rooms__video-btn" data-module-action="close-modal-video">
                            <svg class="rooms__video-icon">
                                <use xlink:href="images/sprite.svg#plus"></use>
                            </svg>
                        </button>
                        <video class="rooms__video-window" src="https://www.youtube.com/watch?v=OGb2Hkeu2BI" width="500" height="400" controls="controls" poster="images/slider/img2.jpg"></video>                                                      
                    </div>
                </div>
            </li>
            <li class="rooms__item">
                <a class="rooms__link" data-module="action-modal-video" href="#">
                    <svg class="rooms__icon">
                        <use xlink:href="images/sprite.svg#pow"></use>
                    </svg>
                </a>
                <div class="rooms__video" data-module="modal-video" data-module-action="close-modal-video">
                    <div class="rooms__video-modal">                           
                        <button class="rooms__video-btn" data-module-action="close-modal-video">
                            <svg class="rooms__video-icon">
                                <use xlink:href="images/sprite.svg#plus"></use>
                            </svg>
                        </button>
                        <video class="rooms__video-window" src="https://www.youtube.com/watch?v=OGb2Hkeu2BI" width="500" height="400" controls="controls" poster="images/slider/img2.jpg"></video>                                                      
                    </div>
                </div>
            </li>
            <li class="rooms__item">
                <a class="rooms__link" data-module="action-modal-video" href="#">
                    <svg class="rooms__icon">
                        <use xlink:href="images/sprite.svg#pow"></use>
                    </svg>
                </a>
                <div class="rooms__video" data-module="modal-video" data-module-action="close-modal-video">
                    <div class="rooms__video-modal">                           
                        <button class="rooms__video-btn" data-module-action="close-modal-video">
                            <svg class="rooms__video-icon">
                                <use xlink:href="images/sprite.svg#plus"></use>
                            </svg>
                        </button>
                        <video class="rooms__video-window" src="https://www.youtube.com/watch?v=OGb2Hkeu2BI" width="500" height="400" controls="controls" poster="images/slider/img2.jpg"></video>                                                      
                    </div>
                </div>
            </li>
            <li class="rooms__item">
                <a class="rooms__link" data-module="action-modal-video" href="#">
                    <svg class="rooms__icon">
                        <use xlink:href="images/sprite.svg#pow"></use>
                    </svg>
                </a>
                <div class="rooms__video" data-module="modal-video" data-module-action="close-modal-video">
                    <div class="rooms__video-modal">                           
                        <button class="rooms__video-btn" data-module-action="close-modal-video">
                            <svg class="rooms__video-icon">
                                <use xlink:href="images/sprite.svg#plus"></use>
                            </svg>
                        </button>
                        <video class="rooms__video-window" src="https://www.youtube.com/watch?v=OGb2Hkeu2BI" width="500" height="400" controls="controls" poster="images/slider/img2.jpg"></video>                                                      
                    </div>
                </div>
            </li>
            <li class="rooms__item">
                <a class="rooms__link" data-module="action-modal-video" href="#">
                    <svg class="rooms__icon">
                        <use xlink:href="images/sprite.svg#pow"></use>
                    </svg>
                </a>
                <div class="rooms__video" data-module="modal-video" data-module-action="close-modal-video">
                    <div class="rooms__video-modal">                           
                        <button class="rooms__video-btn" data-module-action="close-modal-video">
                            <svg class="rooms__video-icon">
                                <use xlink:href="images/sprite.svg#plus"></use>
                            </svg>
                        </button>
                        <video class="rooms__video-window" src="https://www.youtube.com/watch?v=OGb2Hkeu2BI" width="500" height="400" controls="controls" poster="images/slider/img2.jpg"></video>                                                      
                    </div>
                </div>
            </li>
            <li class="rooms__item">
                <a class="rooms__link" data-module="action-modal-video" href="#">
                    <svg class="rooms__icon">
                        <use xlink:href="images/sprite.svg#pow"></use>
                    </svg>
                </a>
                <div class="rooms__video" data-module="modal-video" data-module-action="close-modal-video">
                    <div class="rooms__video-modal">                           
                        <button class="rooms__video-btn" data-module-action="close-modal-video">
                            <svg class="rooms__video-icon">
                                <use xlink:href="images/sprite.svg#plus"></use>
                            </svg>
                        </button>
                        <video class="rooms__video-window" src="https://www.youtube.com/watch?v=OGb2Hkeu2BI" width="500" height="400" controls="controls" poster="images/slider/img2.jpg"></video>                                                      
                    </div>
                </div>
            </li>
            <li class="rooms__item">
                <a class="rooms__link" data-module="action-modal-video" href="#">
                    <svg class="rooms__icon">
                        <use xlink:href="images/sprite.svg#pow"></use>
                    </svg>
                </a>
                <div class="rooms__video" data-module="modal-video" data-module-action="close-modal-video">
                    <div class="rooms__video-modal">                           
                        <button class="rooms__video-btn" data-module-action="close-modal-video">
                            <svg class="rooms__video-icon">
                                <use xlink:href="images/sprite.svg#plus"></use>
                            </svg>
                        </button>
                        <video class="rooms__video-window" src="https://www.youtube.com/watch?v=OGb2Hkeu2BI" width="500" height="400" controls="controls" poster="images/slider/img2.jpg"></video>                                                      
                    </div>
                </div>
            </li>
            <li class="rooms__item">
                <a class="rooms__link" data-module="action-modal-video" href="#">
                    <svg class="rooms__icon">
                        <use xlink:href="images/sprite.svg#pow"></use>
                    </svg>
                </a>
                <div class="rooms__video" data-module="modal-video" data-module-action="close-modal-video">
                    <div class="rooms__video-modal">                           
                        <button class="rooms__video-btn" data-module-action="close-modal-video">
                            <svg class="rooms__video-icon">
                                <use xlink:href="images/sprite.svg#plus"></use>
                            </svg>
                        </button>
                        <video class="rooms__video-window" src="https://www.youtube.com/watch?v=OGb2Hkeu2BI" width="500" height="400" controls="controls" poster="images/slider/img2.jpg"></video>                                                      
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section> 