<div class="cooperation">
    <div class="container">
        <h2 class="cooperation__title title _anim-items">
            Сотрудничество
        </h2>

        <div class="cooperation__content">
            <div class="cooperation__box">
                <h3 class="cooperation__subtitle">
                    Приглашаем к сотрудничеству
                </h3>
                <div class="cooperation__text">
                    <p>
                        Сотрудничество на основе коллаборации: совместные конкурсы, скидочные купоны, кэшбек и тп.
                    </p>
                </div>
            </div>
            <div class="cooperation__connect">
                <ul class="cooperation__list">
                    <li class="cooperation__item">
                        Ветеринарные клиники
                    </li>
                    <li class="cooperation__item">
                        Зоомагазины
                    </li>
                    <li class="cooperation__item">
                        Грумеров
                    </li>
                    <li class="cooperation__item">
                        Туристические фирмы
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>