<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <span class="footer__copy">Copyright © 2021</span>
            <nav class="footer__menu">
                <ul class="footer__list">
                    <li class="footer__item">
                        <a class="footer__link" href="#numbers">
                            Номера и цены
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#booking">
                            Заявка на бронирование
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#payment">
                            Оплатить
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#videoBlock">
                            Видеонаблюдение
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#about">
                            Всё о нас
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</footer>